NEXT_PUBLIC_SUPABASE_URL=https://wffvsysvdrbnaioikqcv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmZnZzeXN2ZHJibmFpb2lrcWN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk5MjAwMTUsImV4cCI6MjEwNTQ5NjAxNX0.UPzq3DWJ5J3YxtJc0jineErIS2f87S8_D8x0cHS9uHA
